<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/topics.css' %}">
    <link rel="stylesheet" href="{% static 'styles/view-cohorts.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/cohort.css' %}">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <link rel="stylesheet" href="{% static 'styles/cohort-form.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/following.css' %}">


    <title>COMMUNITY</title>
</head>

<body>
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    {% block content %}


    {% endblock %}
</body>

</html>