{% extends 'main.html' %}

{% block content %}
<style>
    .cohort-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="cohort-container">

    <div>
        <h1>{{cohort.name}}</h1>
        <p>{{cohort.description}}</p>

        <div class="comment-wrapper">
            <h3>Conversations</h3>
            <hr>

            {% for message in cohort_messages %}
            <div>
                <small>@{{message.user}} {{message.created|timesince}} ago</small>
                <hr>
                <p>{{message.body}}</p>

            </div>
            {% endfor %}
        </div>


        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Type your message here..." />
            </form>
        </div>
        {% endif %}
    </div>
    <div>
        <h3>Participants</h3>
        <hr>

        {% for user in participants %}
        <div>
            <p>@{{user.username}}</p>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}